In [3]:
from sqlalchemy import create_engine
##import sqllite3
import pandas as pd
engine = create_engine('sqlite:///C:\\Users\\snowduri\\Desktop\\Springboard Datascience Course - ML\\sqllitecasestudydb\\sqlite_db_pythonsqlite.db')


# Save the table names to a list: table_names
table_names=engine.table_names()
print('before connection...')
con = engine.connect()
#rs = con.execute("select * from Facilities ")
#****************************** SQL Casestudy Q10 **********************
'''
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!
'''

rs_10 = con.execute("select bagg.facid,f.name,guest_sum*guestcost+member_sum*membercost revenue from (    \
                     select facid,sum(case when memid=0 then slots else 0 end) guest_sum,              \
                      sum(case when memid<>0 then slots else 0 end) member_sum                         \
                     from Bookings                                                                     \
                     group by facid                                                                    \
order by facid                                                                                         \
    ) bagg                                                                                             \
join Facilities f                                                                                      \
  on bagg.facid = f.facid                                                                              \
order by revenue ")
print('after connection...')

df10 = pd.DataFrame(rs_10.fetchall())
print(df10)

#****************************** SQL Casestudy Q10 **********************

before connection...
after connection...
   0                1        2
0  3     Table Tennis    180.0
1  7    Snooker Table    240.0
2  8       Pool Table    270.0
3  2  Badminton Court   1906.5
4  6     Squash Court  13468.0
5  0   Tennis Court 1  13860.0
6  1   Tennis Court 2  14310.0
7  5   Massage Room 2  14454.6
8  4   Massage Room 1  50351.6

<ipython-input-3-338efb16dad7>:8: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names=engine.table_names()

In [4]:
#****************************** SQL Casestudy Q11 **********************
'''
Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
'''

rs_11 = con.execute("select m.surname,m.firstname \
, case when recom_by.surname = 'GUEST' then 'none' else recom_by.surname  END recbysurname \
, case when recom_by.firstname = 'GUEST' then 'none' else recom_by.firstname  END recbyfirstname \
from \
(select memid,surname,firstname,recommendedby from Members) m  \
left JOIN \
(select memid,surname,firstname from Members) recom_by \
on m.recommendedby = recom_by.memid \
order by m.surname,m.firstname ") 
print('after connection...')

df11 = pd.DataFrame(rs_11.fetchall())
print(df11)

#****************************** SQL Casestudy Q11 **********************

after connection...
                    0          1         2          3
0               Bader   Florence  Stibbons     Ponder
1               Baker       Anne  Stibbons     Ponder
2               Baker    Timothy   Farrell     Jemima
3              Boothe        Tim    Rownam        Tim
4             Butters     Gerald     Smith     Darren
5              Coplin       Joan     Baker    Timothy
6             Crumpet      Erica     Smith      Tracy
7                Dare      Nancy  Joplette     Janice
8             Farrell      David      None       None
9             Farrell     Jemima      None       None
10              GUEST      GUEST      None       None
11            Genting    Matthew   Butters     Gerald
12               Hunt       John   Purview  Millicent
13              Jones      David  Joplette     Janice
14              Jones    Douglas     Jones      David
15           Joplette     Janice     Smith     Darren
16          Mackenzie       Anna     Smith     Darren
17               Owen    Charles     Smith     Darren
18             Pinker      David   Farrell     Jemima
19            Purview  Millicent     Smith      Tracy
20             Rownam        Tim      None       None
21             Rumney  Henrietta   Genting    Matthew
22             Sarwin  Ramnaresh     Bader   Florence
23              Smith     Darren      None       None
24              Smith     Darren      None       None
25              Smith       Jack     Smith     Darren
26              Smith      Tracy      None       None
27           Stibbons     Ponder     Tracy     Burton
28              Tracy     Burton      None       None
29         Tupperware   Hyacinth      None       None
30  Worthington-Smyth      Henry     Smith      Tracy

In [5]:
#****************************** SQL Casestudy Q12 **********************
'''
Q12: Find the facilities with their usage by member, but not guests

'''

rs_12 = con.execute("select f.name,b.member_hours_used from \
( \
select facid, \
sum(case when memid<>0 then slots else 0 end)*0.5 member_hours_used \
from Bookings \
group by facid \
order by facid \
    ) b  \
join Facilities f \
  on b.facid = f.facid ") 
print('after connection...')

df12 = pd.DataFrame(rs_12.fetchall())
print(df12)

#****************************** SQL Casestudy Q12 **********************

after connection...
                 0      1
0   Tennis Court 1  478.5
1   Tennis Court 2  441.0
2  Badminton Court  543.0
3     Table Tennis  397.0
4   Massage Room 1  442.0
5   Massage Room 2   27.0
6     Squash Court  209.0
7    Snooker Table  430.0
8       Pool Table  428.0

In [11]:
#****************************** SQL Casestudy Q13 **********************
'''
Q13: Find the facilities usage by month, but not guests

'''
#import sqllite3
rs_13 = con.execute("select f.name,mth,num_of_lots * membercost usage_by_month from (  \
(select facid,cast(substr(starttime,6,2) as integer) mth,sum(case when memid <> 0 then slots else 0 end) num_of_lots from Bookings ) b \
JOIN  \
Facilities f  \
 on b.facid = f.facid \
)  ") 
print('after connection...')

df13 = pd.DataFrame(rs_13.fetchall())
print(df13)

#****************************** SQL Casestudy Q13 **********************

after connection...
              0  1  2
0  Table Tennis  7  0